// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:visited .btn{
  color: white;
}

a:visited{
  color: #fff;
}

.nav-tabs > li > a{
  color: #666;;
}