.message-row{
  padding: 10px;
  text-overflow: ellipsis;
  border: 1px solid #000;
}

.message-row:hover{
  background-color: #eee;
}

.data{
  text-overflow: ellipsis;
}

.tab-content > a{
  color: #000;
}

.message-row{
  margin-right: 30px !important;
  margin-left: 30px !important;
  min-width: 630px; 
}